<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <!-- Add any branding here if needed -->
    </div>
    <div class="navbar-right">
      <%= link_to root_path, class: "navbar-link" do %>
        <span class="icon-home"><i class="fa-solid fa-house"></i></span>
      <% end %>
    </div>
  </div>
</nav>
