<h1>My Speech Requests</h1>

<% @speech_requests.each do |speech_request| %>
  <p>
    <strong> <%= speech_request.name %><br> </strong>
    <%= link_to 'Show', speech_request %> |
    <%= link_to 'Edit', edit_speech_request_path(speech_request) %> |
    <%= link_to 'Destroy', speech_request, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
