<h1 class="page-title">Generated Celebrant Speech</h1>

<div class="speech-details">
  <p><strong>Name:</strong> <%= @speech_request.name %></p>
  <p><strong>Relation:</strong> <%= @speech_request.relation %></p>
</div>

<hr class="divider">

<h2 class="speech-title">Your Celebrant Speech</h2>
<p class="speech-content"><%= @speech_request.generated_speech %></p>

<%= link_to 'Create another speech', new_speech_request_path, class: "new-speech-link" %>
